@inject IJSRuntime JsRuntime

<div id="@Id" class="w-full h-full"></div>

@code {
    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public List<ProductInfo>? Series { get; set; }

    private readonly string[] _months = { "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (Series is not null)
        {
            await JsRuntime.InvokeVoidAsync("renderHighchartsColumn", Id, Title, _months, Series);
        }
    }
}
