<div id="@Id"></div>
@code {
    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public List<PastFiveYearsMonthlyModel>? PastFiveYearsMonthlyData{ get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (PastFiveYearsMonthlyData is not null)
            {
                await JsRuntime.InvokeVoidAsync("monthlySaleAmount", Id, Title,
                        PastFiveYearsMonthlyData);
            }
        }
    }
}
