@inject IJSRuntime JsRuntime

<div id="@Id" class="w-full h-full"></div>

@code {
    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public DataReturnInfo? PastFiveYearsFunnelData { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (PastFiveYearsFunnelData?.arrayObject is not null)
        {
            await JsRuntime.InvokeVoidAsync("renderHighchartsFunnel", Id, Title, PastFiveYearsFunnelData.arrayObject);
        }
    }
}
