@inject IJSRuntime JsRuntime

<div id="@Id" class="w-full h-full"></div>

@code {
    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public PastSevenDaysModel? PastSevenDaysData { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (PastSevenDaysData?.productInfos is not null)
        {
            await JsRuntime.InvokeVoidAsync("renderHighchartsLine", Id, Title, PastSevenDaysData.days, PastSevenDaysData.productInfos);
        }
    }
}