@inject IJSRuntime JsRuntime

<div id="@Id" class="w-full h-full"></div>

@code {
    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public FiveYearLineChart? FiveYearsLineChartData { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (FiveYearsLineChartData?.productInfos is not null)
        {
            var years = Enumerable.Range(FiveYearsLineChartData.pastFiveYear, 5).Select(y => y.ToString()).ToArray();
            await JsRuntime.InvokeVoidAsync("renderHighchartsLine", Id, Title, years, FiveYearsLineChartData.productInfos);
        }
    }
}