@page "/"
@implements IDisposable
@inject ChartStateContainer StateContainer

@if(!string.IsNullOrWhiteSpace(StateContainer.ChartName))
{
    chartName = StateContainer.ChartName;
    firstShow = false;
}
@if (StateContainer.DashboardShow != false)
{
    firstShow = true;
}
<div class="row">
    <div class="col-md-6" style="display:@(chartName =="BasicColumnChart" || firstShow == true ?
    "":"none")">
        @* <div id="BasicColumnChart"></div> *@
        @if (Series is not null) 
        {
            <PageBasicColumnChart Id="BasicColumnChart"
                                  Title="Top 5 selling products of current Year by each Month"
                                  Series="Series" />
        }
    </div>
    <div class="col-md-6" style="display:@(chartName =="BarBasicChart" || firstShow == true ?
    "":"none")">
        @if (BarBasicData is not null)
        {
            <PageBarBasicChart Id="BarBasicChart"
                               Title="Quantity of Top Five Most Sold Products By Year"
                               BarBasicData="BarBasicData" />
        }
    </div>
    <div class="col-md-6" style="display:@(chartName =="PastFiveYearChart" || firstShow == true ?
    "":"none")">
        @if (PastFiveYearData is not null)
        {
            <PagePastFiveYearChart Id="PastFiveYearChart"
                                   Title="Past Five Years Sale Record"
                                   PastFiveYearData="PastFiveYearData" />
        }
    </div>
    <div class="col-md-6" style="display:@(chartName =="PastFiveYearFunnelChart" || firstShow == true ?
    "":"none")">
        @if (PastFiveYearFunnelData is not null)
        {
            <PagePastFiveYearsFunnelChart Id="PastFiveYearFunnelChart"
                                          Title="Past Five Years Sale Amount"
                                          PastFiveYearsFunnelData="PastFiveYearFunnelData" />
        }
    </div>
    <div class="col-md-6" style="display:@(chartName =="PastSevenDays" || firstShow == true ?
    "":"none")">
        @if (PastSevenDaysData is not null)
        {
            <PagePastSevenDaysChart Id="PastSevenDays"
                                    Title="Past Seven Days"
                                    PastSevenDaysData="PastSevenDaysData" />
        }
    </div>
    <div class="col-md-6" style="display:@(chartName =="YearlySaleAmount" || firstShow == true ?
    "":"none")">
        @if (YearlySaleAmountData is not null)
        {
            <PageYearlySaleAmountChart Id="YearlySaleAmount"
                                       Title="Yearly Sale Amount From Current Year"
                                       YearlySaleAmountData="YearlySaleAmountData" />
        }
    </div>
    <div class="col-md-6" style="display:@(chartName =="CompareTwoYear" || firstShow == true ?
    "":"none")">
        <PageCompareTwoYearChart Id="CompareTwoYear"
                                 Title="Compare Selected Years Sale Amount" />
    </div>
    <div class="col-md-6" style="display:@(chartName =="SixMostSoldProducts" || firstShow == true ?
    "":"none")">
        @if (SixMostSoldProducts is not null)
        {
            <PageSixMostSoldProductsChart Id="SixMostSoldProducts"
                                          Title="Six Most Sold Products"
                                          SixMostSoldProducts="SixMostSoldProducts" />
        }
    </div>
    <div class="col-md-6" style="display:@(chartName =="MaxMinQtyOfProducts" || firstShow == true ?
    "":"none")">
        @if (MaxMinQtyOfProducts is not null)
        {
            <PageMaxMinQtyOfProductsChart Id="MaxMinQtyOfProducts"
                                          Title="Maximum - Minimum Quantity of Products"
                                          MaxMinQtyOfProducts="MaxMinQtyOfProducts" />
        }
    </div>
    <div class="col-md-6" style="display:@(chartName =="FiveYearLineChart" || firstShow == true ?
    "":"none")">
        @if (FiveYearsLineChartData is not null)
        {
            <PageFiveYearsLineChart Id="FiveYearLineChart"
                                    Title="Five Years Line Chart"
                                    FiveYearsLineChartData="FiveYearsLineChartData" />
        }
    </div>
    <div class="col-md-6" style="display:@(chartName =="ProductCategoryAndProduct" || firstShow == true ?
    "":"none")">
        @if (MaxMinQtyOfProducts is not null)
        {
            <PageProductAndProductCategoryChart Id="ProductCategoryAndProduct"
                                                Title="Product Categories and Products"
                                                ProdAndProdCategory="ProdAndProdCategory" />
        }
    </div>
    <div class="col-md-6" style="display:@(chartName =="MonthlySaleAmount" || firstShow == true ?
    "":"none")">
        @if (PastFiveYearsMonthlyData is not null)
        {
            <PageMonthlySaleChart Id="MonthlySaleAmount"
                                  Title="Past Five Year Monthly Sale Amount"
                                  PastFiveYearsMonthlyData="PastFiveYearsMonthlyData" />
        }
    </div>
    <div class="col-md-6" style="display:@(chartName =="PastFiveYearDailySaleAmount" || firstShow == true ?
    "":"none")">
        @if (PastFiveYearsDailyData is not null)
        {
            <PagePastFiveYearsDailyChart Id="PastFiveYearDailySaleAmount"
                                         Title="Past Five Year Daily Sale Amount"
                                         PastFiveYearsDailyData="PastFiveYearsDailyData" />
        }
    </div>
    <div class="col-md-6" style="display:@(chartName =="MonthlyRevenueReportOfThreeYear" || firstShow == true ?
    "":"none")">
        @if (MonthlyRevenueReportForThreeYears is not null)
        {
            <PageMonthlyRevenueReportForThreeYearsChart Id="MonthlyRevenueReportOfThreeYear"
                                                        Title="Comparison of Yearly Sale Prices"
                                                        MonthlyRevenueReportForThreeYears="MonthlyRevenueReportForThreeYears" />
        }
    </div>
</div>

@code {

    private List<MonthlyTopFiveProductsOfCurrentYear> _topProductsData;
    private List<ProductInfo>? Series;
    private QtyOfTopFiveProductsByYearModel? BarBasicData;
    private List<MaxMinQtyOfProductsModel>? MaxMinQtyOfProducts;
    private List<ProductCategoryChartModel>? ProdAndProdCategory;
    private List<MonthlyRevenueReportResponseModel>? MonthlyRevenueReportForThreeYears;
    private List<SixMostSoldProductsModel>? SixMostSoldProducts;
    private PastSevenDaysModel? PastSevenDaysData;
    private List<ProductInfo>? FiveYearsLineChartData;
    private DonutChartResponseModel? PastFiveYearData;
    private DataReturnInfo? PastFiveYearFunnelData;
    private YearlySaleAmountModel? YearlySaleAmountData;
    private List<PastFiveYearsMonthlyModel>? PastFiveYearsMonthlyData;
    private PastFiveYearsDailyModel? PastFiveYearsDailyData;
    private string? chartName { get; set; }
    private bool firstShow = true;

    protected override void OnInitialized()
    {
        StateContainer.OnChange += StateHasChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await db.GenerateDataByMonth();

            var data = await db.CurrentYearTopFiveProductsByMonth();
            Series = data != null ? data : new List<ProductInfo>();

            BarBasicData = await db.QtyOfTopFiveProductsByYear();

            MaxMinQtyOfProducts = await db.MaxMinQtyOfProducts();

            ProdAndProdCategory = await db.ProductCategoryAndProduct();

            //MonthlyRevenueReportForThreeYears = await db.MonthlyRevenueReportForThreeYear();

            SixMostSoldProducts = await db.SixMostSoldProducts();

            PastSevenDaysData = await db.PastSevenDays();

            FiveYearsLineChartData = await db.FiveYearLineChart();

            YearlySaleAmountData = await db.YearlySaleAmount();
            PastFiveYearData = await db.PastFiveYear(DateTime.Now);
            PastFiveYearFunnelData = await db.PastFiveYearFunnelChart(DateTime.Now);
            PastFiveYearsMonthlyData = await db.PastFiveYearMonthlySaleAmount(DateTime.Now);
            PastFiveYearsDailyData = await db.PastFiveYearsDailyAmount(DateTime.Now);

            StateHasChanged();
        }
    }

    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }
    private static List<string> ChartList =>
    new List<string>
            {
        "BasicColumnChart",
        "BarBasicChart",
        "PastFiveYearChart",
        "PastFiveYearFunnelChart",
        "PastSevenDays",
        "YearlySaleAmount",
        "CompareTwoYear",
        "SixMostSoldProducts",
        "MaxMinQtyOfProducts",
        "FiveYearLineChart",
        "ProductCategoryAndProduct",
        "MonthlySaleAmount",
        "PastFiveYearDailySaleAmount"
            };
}