<div id="@Id"></div>
@code {
    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public PastFiveYearsDailyModel? PastFiveYearsDailyData { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (PastFiveYearsDailyData is not null)
            {
                await JsRuntime.InvokeVoidAsync("pastFiveYearDailySaleAmount", Id,
                Title, PastFiveYearsDailyData);
            }
        }
    }
}
