<div id="@Id"></div>

@code {
    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public List<ProductInfo>? Series { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (Series is not null)
                await JsRuntime.InvokeVoidAsync("basicColumnChart", Id, Title, Series);
        }
    }
}
