<div id="@Id"></div>

@code {
    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? Title { get; set; }
    
    [Parameter]
    public List<MonthlyRevenueReportResponseModel>? MonthlyRevenueReportForThreeYears { get; set; }

    protected override async Task OnParametersSetAsync()
    {

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (MonthlyRevenueReportForThreeYears is not null)
            {
                await JsRuntime.InvokeVoidAsync("monthlyRevenueReportOfThreeYear", Id, Title,
                    MonthlyRevenueReportForThreeYears);
            }
        }
    }
}