@page "/"
<div class="row" id="divLoading">
    <div class="col-md-6 mt-5 t-r" style="padding-left: 50px">
        <label for="ProductName">Product Name</label>
        <select name="ProductName" class="form-select" aria-label="Default select example"
        @onchange="ProductNameChangeEvent" value="@Model.product_id"
                required="">
            @foreach (var item in lstProduct)
            {
                <option value="@item.product_id">
                    @item.product_name
                </option>
            }
        </select>
    </div>
    <div class="col-md-6 mt-5 t-r" style="padding-left: 50px">
        <label for="floatingTextarea">Product Price</label>
        <input type="text" class="form-control t-r" name="Product_price" @bind-value="Model.product_price" disabled="disabled" placeholder="0" />
    </div>
    <div class="col-md-6 mt-5 t-r" style="padding-left: 50px">
        <label for="floatingTextarea">Product Qty</label>
        <input type="text" class="form-control t-r"
               name="Product_qty"
               value="@Model.product_qty"
        @onchange="ProductQtyOnChangeEvent"
               placeholder="0" />
        <p id="ProductQtyError" style="color : red"></p>
    </div>
    <div class="col-md-6 mt-5 t-r" style="padding-left: 50px">
        <label for="floatingTextarea">Total Amount</label>
        <input type="text" class="form-control t-r" name="Sale_total_amount" @bind-value="Model.product_total_price" disabled="disabled" placeholder="0" />
    </div>
    <div class="col-md-6 mt-5 t-r" style="padding-left: 50px">
    </div>
    <div class="col-md-6 mt-5 t-r" style="padding-left: 50px">
        <label for="floatingTextarea">Total Items Amount</label>
        <input type="text" class="form-control t-r" name="Grand_Total" @bind-value="grand_total" disabled="disabled" />
    </div>
    <div class="col-md-6 mt-5" style="padding-left: 50px">
        <button type="button" @onclick="Add" class="btn btn-success mt-3">Add</button>
        <button type="button" @onclick="Save" class="btn btn-success mt-3">Save</button>
    </div>
    <div class="col-md-12 mt-5" style="padding-left: 50px">

        @if (lstProductSale != null)
        {
            <RecentProductSalePage Model="lstProductSale"
                                   OnDeleteProductSaleClick="DeleteProductSale"
                                   OnEditProductSaleClick="EditProductSale" />
        }
    </div>
</div>