@page "/ProductEdit/{ProductId}"

<div class="row" style="padding-left: 50px; padding-right:50px">
    <div class="col-md-6 mt-10">
        <label for="floatingTextarea">Product Name</label>
        <input type="text" class="form-control" @bind-value="Product.product_name" />
    </div>
    @*<div class="col-md-6 mt-10">
    <label for="floatingTextarea">Product Code</label>
    <input type="text" class="form-control" @bind-value="Product."  />
    </div>*@
    <div class="col-md-6 mt-10">
        <label for="floatingTextarea">Product Category Code</label>
        <input type="text" class="form-control" @bind-value="Product.product_category_code"  />
    </div>
    <div class="col-md-6 mt-10">
        <label for="floatingTextarea">Product Code</label>
        <input type="text" class="form-control" @bind-value="Product.product_code" />
    </div>
    <div class="col-md-6 mt-10">
        <label for="floatingTextarea">Product Sale Price</label>
        <input type="text" class="form-control" @bind-value="Product.product_sale_price" />
    </div>
    <div class="col-md-6 mt-10">
        <label for="floatingTextarea">Product Buying Price</label>
        <input type="text" class="form-control" @bind-value="Product.product_buying_price" />
    </div>
    <div class="col-md-6 mt-10">
        <label for="floatingTextarea">Product Crateation Date</label>
        <input type="text" class="form-control" @bind-value="Product.product_cration_date" />
    </div>
    <div class="col-md-6 mt-10">
        <a class="btn btn-dark mt-3" href="/Product">Back</a>
        <button type="button" @onclick="Save" class="btn btn-success mt-3">Save</button>
    </div>
</div>

@code {
    [Parameter]
    public string ProductId { get; set; }
    private ProductDataModel Product { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Product = await db.GetProduct(new Guid(ProductId));
    }

    async Task Save()
    {
        await db.ProductUpdate(Product);
        Product = new();
        nav.NavigateTo("/Product");
    }
}
