@page "/Setup/ProductCategory"

@if (FormType == EnumFormType.List)
{
    <div class="mb-5">
        <button class="btn btn-success mt-3" @onclick="Create">Create</button>
    </div>

    <div>
        <table class="table table-bordered text-nowrap">
            <thead>
                <tr>
                    <th scope="col">Action</th>
                    @*<th scope="col">Product Category Id</th>*@
                    <th scope="col">Product Category Code</th>
                    <th scope="col">Product Category Name</th>
                    <th scope="col">Product Creation Date</th>
                </tr>
            </thead>
            <tbody>
                @if (lstProductCategory != null && lstProductCategory.Count > 0)
                {
                    @foreach (var item in lstProductCategory)
                    {
                        <tr>
                            <td>
                                <a class="btn btn-outline-warning mt-3"
                                @onclick="()=>Edit(item)">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a class="btn btn-outline-danger mt-3"
                                @onclick="()=>Delete(item)">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </td>
                            @*<th scope="row">@(item.product_category_id)</th>*@
                            <td>@(item.product_category_code)</td>
                            <td>@(item.product_category_name)</td>
                            <td>@(item.product_category_creation_date)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
else if (FormType == EnumFormType.Create || FormType == EnumFormType.Edit)
{
    <div class="row" style="padding-left: 50px; padding-right:50px">
        <div class="col-md-6 mt-10">
            <label for="floatingTextarea">Product Category Code</label>
            <input type="text" class="form-control" @bind-value="Model.product_category_code" />
        </div>
        <div class="col-md-6 mt-10">
            <label for="floatingTextarea">Product Category Name</label>
            <input type="text" class="form-control" @bind-value="Model.product_category_name" />
        </div>
        <div class="col-md-12 mt-5">
            <button class="btn btn-dark mt-3" @onclick=Back>Back</button>
            @if (FormType == EnumFormType.Create)
            {
                <button type="button" @onclick="Save" class="btn btn-success mt-3">Save</button>
            }
            else if (FormType == EnumFormType.Edit)
            {
                <button type="button" @onclick="Update" class="btn btn-success mt-3">Update</button>
            }
        </div>
    </div>
}