@page "/ProductCategoryEdit/{ProductCategoryId}"
<div class="row" style="padding-left: 50px; padding-right:50px">
    <div class="col-md-6 mt-10">
        <label for="floatingTextarea">Product Category Id</label>
        <input type="text" class="form-control" @bind-value="Model.product_category_id" />
    </div>
    <div class="col-md-6 mt-10">
        <label for="floatingTextarea">Product Category Name</label>
        <input type="text" class="form-control" @bind-value="Model.product_category_name" />
    </div>
    <div class="col-md-6 mt-10">
        <label for="floatingTextarea">Product Category Code</label>
        <input type="text" class="form-control" @bind-value="Model.product_category_code" />
    </div>
    <div class="col-md-6 mt-10">
        <label for="floatingTextarea">Product Creation Date</label>
        <input type="text" class="form-control" @bind-value="Model.product_category_creation_date" />
    </div>
    <div class="col-md-12 mt-5">
        <a class="btn btn-dark mt-3" href="/ProductCategory">Back</a>
        <button type="button" @onclick="Save" class="btn btn-success mt-3">Save</button>
    </div>
</div>
@code {
    [Parameter]
    public string ProductCategoryId { get; set; }
    private ProductCategoryDataModel Model = new();

    protected override async Task OnInitializedAsync()
    {
        Model = await db.GetProductCategory(new Guid(ProductCategoryId));
    }

    async Task Save()
    {
        await db.ProductCategoryUpdate(Model);
        Model = new();
        nav.NavigateTo("/ProductCategory");
    }
}
