@page "/best-product-report"
<h3>Best Product Report</h3>
@if (_lstBestProductReport is not null)
{
    <div id="chart"></div>
}

@code {
    private List<BestProductReportModel>? _lstBestProductReport;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _lstBestProductReport = await db.BestProductReport();
            StateHasChanged();
            var labels = _lstBestProductReport
                .Select(x => x.ProductName)
                .ToList();
            var series = _lstBestProductReport
                .Select(x => x.ProductQuantity)
                .ToList();
            await JsRuntime.InvokeVoidAsync(
                "bindPieChart", 
                "chart", 
                labels, 
                series);
        }
    }
}