@page "/generate-data"

<div class="row" id="divLoading">

    <div class="col-md-6 mt-5 t-r" style="padding-left: 50px">
        <label>Start Date</label>
        <input type="date" class="form-control t-r" name="startDate" @bind-value="_startDate"/>
    </div>
    <div class="col-md-6 mt-5 t-r" style="padding-left: 50px">
        <label>End Date</label>
        <input type="date" class="form-control t-r" name="endDate" @bind-value="_endDate"/>
    </div>
    <div class="col-md-6 mt-5" style="padding-left: 50px">
        <MudButton Variant="Variant.Outlined" OnClick="GenerateDataByMonth" Color="Color.Default">Generate Data</MudButton>
        @* <MudButton Variant="Variant.Outlined" OnClick="Save" Color="Color.Success">Save</MudButton> *@
    </div>
</div>